<div class="container-fluid bo">
<div class="row shad" >
  <div id="pageintro" class="hoc clear">
    <article class="introtxt">
      <h2 class="heading c2" style="color: #ffffff">Bienvenue !</h2>
      <p class="c2">La <span style="color: #82B440;font-weight: bold;font-size: 35px">Plus Grande </span> Bibliotèque Au Maroc </p>
      <footer class="margLeft">
        <button class="btn c3">Se connecter</button>
        <button class="btn c4 ">S'inscrire</button>
      </footer>
    </article>
  </div>
</div>

</div>
